@font-face {
    font-family: londrina;
    src: url(./LondrinaOutline-Regular.ttf);
}

:root {
    --accent-one: whitesmoke;
}

#wrapper {
    display: flex;    
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./pexels-simon-berger-1323550.jpg");
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

#headline {
    font-family: londrina;
    font-size: 4rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5%;
    background-color: var(--accent-one);
    width: 100%;
    height: 15%;
    opacity: .6;
}

#content {
    display: flex;
    flex-direction: column;
}