@font-face {
    font-family: londrina;
    src: url(./assets/LondrinaOutline-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./assets/Roboto-Regular.ttf);
}

:root {
    --accent-one: whitesmoke;
}

body {
    display: flex;
    font-family: roboto, monospace;
    box-sizing: border-box;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/pexels-simon-berger-1323550.jpg");
    background-size: cover;
    width: 40vw;
    
}

#headline {
    font-family: londrina;
    font-size: 4rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5%;
    background-color: var(--accent-one);
    width: 100%;
    height: 15%;
    opacity: .6;
}

#content {
    display: flex;
    flex-direction: column;
    
    width: 60vw;
}

#description, #form-box, #signup {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1.2rem;
    padding: 32px;
    margin-left: 0;
}

#description, #signup {
    background: linear-gradient(75deg, whitesmoke, 85%, rgb(241, 212, 158));
}

#signup {
    justify-content: flex-start;
}

#form-box {
    background: linear-gradient(75deg, white, 85%, rgb(197, 197, 247));
    box-shadow: 0px 2px 2px 1px grey;
    z-index: 1;
    justify-content: flex-start;
}

#form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    width: 100%;
}

label {
    width: 40%;
}
input {
    height: 1.2rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    display: block;
}

input:focus {
    outline: none;
    border: 2px solid rgb(82, 125, 255);
    box-shadow: 1px 1px 2px 2px lightgrey;
}

input:invalid {
    border-color: red;
}

.nomatch {
    border-color: red !important;
}

label {
    font-size: .8rem;
}

#message, #phone-msg {
    font-size: .8rem;
    color: red;
    position: absolute;
}

button {
    color: whitesmoke;
    background-color: rgb(97, 136, 255);
    font-size: 1.2rem;
    font-weight: 700;
    height: 40px;
    width: 175px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 1px 1px 2px 1px grey;
}

button:hover {
    color:rgb(97, 136, 255);
    background-color: whitesmoke;
}

button:active {
    box-shadow: 0px 0px 0px 0px;
}

#signup > p {
    font-size: 1rem;
}


